.App {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.none {
  display: none !important;
}
body {
  background: rgba(0, 102, 255, 0.38);
  font-family: sans-serif;
}

p {
  margin: 0 0 5px;
}

.contacts{
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 15px;
}
.container-list{
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}
.article, .contact-search {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
}

.contactPge{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.contact-search input{
  width: 100%;
}

.contacts__author {
  text-decoration: underline;
  color: #007DDC;
}
.contacts__count {
  margin: 10px 0 0 0;
  display: block;
}


.details{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 15px;
  text-align: center;
}
.create-contact{
  background: white;
  padding: 15px;
}